.title {
  color: #00fa85;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: rgb(253, 253, 253);
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.links{
  margin-left: auto;
}

.logo >img{
  height: 50px;
  width: 50px;
}
.links a{
  margin-right: 30px;
    font-size: 20px;

}
.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(15, 5, 15, 0.979);
  padding: 5px 10px; 
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100%;
  
}

.logo{
  display: flex;
  align-items: center;
}

.logo > h3{
  color: #00fa85;
  margin: 4px;
}
.active{
  background-color: #fff;
  padding: 3px 20px;
  border-radius: 20px;
  background-color: orangered;
} 


.mobnav{
  background-color: #161b22;
  background-color: #30363d;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 10px  10px 0px 0px;


    }
    .mobnav i{
      display: flex;
      justify-content: c/enter;
   width: 23%;
   position: relative;
   color: rgb(247, 247, 247);
   left: 30px;
   padding: 5px;
    }
    .mobactive{
      /* background-color: red; */
      width: 23%;
      /* background-color: rgba(173, 224, 233, 0.555); */
      border-radius: 20px;

      

    }
    .mobactive i{
 color: rgb(90, 216, 18);
    }
    .notmobactive{
      width: 23%;


    }
   

@media (max-width: 995px) {
  .links {
display: none;
  }
  .mobnav{
display: block;
  }
}


@media (min-width: 995px) {
  
  .mobnav{
display: none;
  }
}

